# ignore build directories
build-VehicleVisualization-Desktop-Debug
build-VehicleVisualization-Desktop-Release

# ignore build-pro-files
VehicleVisualization.pro.user

#ignore old img files
apps/resources/images/old
